* {
       box-sizing: border-box;
      }
      body {
        margin: 0;
      }
      .container-width{
        width:90%;
        max-width:1150px;
        margin:0 auto;
      }
      .flex-sect{
        background-color:#fafafa;
        padding:100px 0;
        font-family:Helvetica, serif;
      }
      .flex-title{
        margin-bottom:15px;
        font-size:2em;
        text-align:center;
        font-weight:700;
        color:#555;
        padding:5px;
      }
      .cards{
        padding:20px 0;
        display:flex;
        justify-content:space-around;
        flex-flow:wrap;
      }
      .card{
        background-color:white;
        height:300px;
        width:300px;
        margin-bottom:30px;
        box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
        border-radius:2px;
        transition:all 0.5s ease;
        font-weight:100;
        overflow:hidden;
      }
      .card:hover{
        margin-top:-5px;
        box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.2);
      }
      *{
        box-sizing:border-box;
      }
      body{
        margin:0;
      }
      #iny1f{
        color:black;
        width:187px;
        height:299px;
        text-align:center;
        position:relative;
      }
      #ijp3c{
        color:black;
        width:197px;
        height:261px;
        top:20px;
        position:relative;
        left:50px;
      }
      #izkum{
        color:black;
        width:257px;
        height:257px;
        position:relative;
        top:20px;
        left:20px;
      }
      #io5nq{
        color:black;
        width:298px;
        height:298px;
      }
      #i9wfz{
        color:black;
        width:230px;
        height:276px;
        position:relative;
        left:35px;
        top:10px;
      }
      #it40m{
        color:black;
        width:210px;
        height:277px;
        position:relative;
        top:10px;
        left:45px;
      }
      #ihfme{
        padding:50px 0 100px 0;
      }
      #ivqwg{
        padding:10px;
        text-align:center;
        font-size:80px;
        font-family:Arial, Helvetica, sans-serif;
        background-image:linear-gradient(#bbbbbb,#bbbbbb);
        background-repeat:repeat;
        background-position:left top;
        background-attachment:scroll;
        background-size:auto;
      }
      #ituft{
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        font-size:25px;
      }
      #icf0z{
        font-size:25px;
        text-align:center;
      }
      #iw7rf{
        text-align:center;
      }
      #ibqg6{
        font-size:25px;
        text-align:center;
        background-image:linear-gradient(#bbbbbb,#bbbbbb);
        background-repeat:repeat;
        background-position:left top;
        background-attachment:scroll;
        background-size:auto;
      }
      #iusar{
        margin:0 0 30px 0;
        padding:5px 5px 5px 5px;
        top:auto;
      }